// @import url('http://fonts.cdnfonts.com/css/billabong');
// font-family : 'Billabong', sans-serif

html {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background-color: #fafafa;
}

main {
  header {
    height: 50px;
    nav {
      background-color: #fff;
      border-bottom: 1px solid #dbdbdb;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 3;
      .nav_wrap {
        width: 100%;
        max-width: 975px;
        height: 60px;
        margin: 0 auto;
        padding: 0 20px;
        vertical-align: middle;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        position: relative;
        .logo_box {
          max-width: 360px;
          width: 100%;
          .h1 {
            font-family: 'Lobster', cursive;
            font-size: 1.6rem;
            color: #000;
          }
        }
        .search_box {
          width: 100%;
          max-width: 268px;
          height: 36px;
          input.fontawesome {
            width: 100%;
            height: 100%;
            border: 1px solid #dbdbdb;
            border-radius: 3px;
            padding: 0 10px;
            background: #fafafa;
            font-family: FontAwesome;
          }
        }
        .icons_box {
          width: 100%;
          max-width: 360px;
          padding-left: 100px;
          display: flex;
          justify-content: space-evenly;
        }
      }
    }
  }
  .mainWrap {
    width: 100%;
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    justify-items: flex-start;
    justify-content: center;
    section {
      width: 642px;
      padding-right: 28px;
      position: relative;
      .story_box {
        width: 100%;
        height: 118px;
        margin-bottom: 24px;
        border: 1px solid #dbdbdb;
        padding: 16px 0;
        background-color: #fff;
        .story_wrap {
          overflow: hidden;
          ul {
            height: 84px;
            display: flex;
            flex-direction: row;
            position: relative;
            li.story_list {
              min-width: 80px;
              height: 100%;
              text-align: center;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              :first-child {
                margin-left: 10px;
              }
              :last-child {
                margin-right: 10px;
              }
            }
            .story_border {
              width: 60px;
              height: 60px;
              margin: 0 auto;
              border-radius: 50%;
              background-color: #fff;
              justify-content: center;
              align-items: center;
              line-height: 60px;
            }
          }
        }
        ul.story {
          li.story_list {
            .story_border {
              img.story_profle {
                width: 56px;
                height: 56px;
                border: 1px solid #dbdbdb;
                border-radius: 75%;
                vertical-align: middle;
              }
              a {
                max-width: 76px;
                font-size: 0.7rem;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
              }
            }
          }
        }
      }
    }
    .post_box {
      article {
        margin-bottom: 24px;
        width: 100%;
        height: auto;
        border: 1px solid #efefef;
        background-color: #fff;
        .post_wrap {
          .post_header {
            height: 60px;
            padding: 14px;
            vertical-align: middle;
            display: flex;
            justify-content: space-between;
            .post_account {
              img.post_profile {
                width: 32px;
                height: 32px;
                border-radius: 50%;
                vertical-align: middle;
              }
              a {
                margin-left: 14px;
                vertical-align: middle;
                font-size: 0.8rem;
                font-weight: 600;
                color: #262626;
              }
            }
            .post_info {
              vertical-align: middle;
              justify-content: center;
              align-items: center;
              border: 0;
              background-color: #fff;
            }
          }
        }
        .post_body {
          width: 100%;
          height: 100%;
          .post_photo_wrap {
            width: 100%;
            height: 100px;
            overflow: hidden;
            position: relative;
            .post_photo_container {
              display: flex;
              img.post_photos {
                width: inherit;
                max-width: 100%;
                height: 50%;
                display: block;
              }
            }
          }
          .post_footer {
            .post_icons_wrap {
              width: 100%;
              height: 54px;
              padding: 6px 5px 6px 10px;
              display: flex;
              justify-content: space-between;
              justify-items: center;
              vertical-align: middle;
            }
            .post_content_wrap {
              padding-left: 16px;
              padding-right: 16px;
              .post_likes {
                height: 27px;
                font-size: 0.875rem;
                font-weight: 600;
              }
              .post_content {
                a {
                  font-size: 0.8rem;
                  font-weight: 600;
                }
                p {
                  display: inline;
                  font-size: 0.8rem;
                }
              }
              .post_reply {
                ul.reply_wrap {
                }
              }
              .post_created_at {
                padding: 8px 0 20px 0;
                p {
                  font-size: 0.6rem;
                  color: #8e8e8e;
                }
              }
            }
            .post_reply_wrap {
              padding: 5px 16px;
              border-top: 1px solid #efefef;
              display: flex;
              vertical-align: middle;
              textarea.write_reply {
                resize: none;
                width: 100%;
                height: 40px;
                min-height: 40px;
                padding: 0;
                padding-top: 9px;
                padding-bottom: 8px;
                border: 0;
                outline: 0;
                overflow-y: hidden;
                font-family: inherit;
                font-size: 0.88rem;
              }
              button.submit_reply {
                min-width: 40px;
                color: rgba(0, 149, 246, 0.3);
                font-weight: 600;
                font-size: 0.85rem;
              }
            }
          }
        }
      }
    }
  }
  aside {
    width: 293px;
    height: 400px;
    top: 0;
    .aside_wrap {
      position: fixed;
      top: 15%;
      // ??????
      width: inherit;
      .aside_account {
        margin-top: 16px;
        display: flex;
        align-items: center;
        vertical-align: middle;
        .aside_profile {
          width: 55px;
          height: 55px;
          line-height: 56px;
          background-color: 1px solid #fff;
          border-radius: 50%;
          justify-content: center;
          align-items: center;
          .account_photo {
            width: 55px;
            height: 55px;
            border-radius: 50%;
            vertical-align: middle;
          }
        }
        .aside_id {
          width: 195px;
          p {
            font-size: 0.8rem;
            width: 100%;
            padding-left: 12px;
            line-height: 1.2rem;
            :first-child {
              color: #262626;
              font-weight: 600;
            }
            :last-child {
              color: #8e8e8e;
            }
          }
        }
        button.change_account_btn {
          margin: 0 auto;
          padding: 0;
          padding-left: 8px;
          background-color: #fff;
          border: 0;
          color: #0095f6;
          font-size: 0.77rem;
          font-weight: 800;
        }
      }
    }
    .aside_recommend {
      .aside_recommend_header {
        height: 35px;
        display: flex;
        justify-content: space-between;
        vertical-align: middle;
        line-height: 52px;
        font-weight: 700;
        span:first-child {
          font-size: 0.85rem;
          color: #8e8e8e;
        }
        span:last-child {
          font-size: 0.77rem;
          color: #262626;
        }
      }
      .aside_recommend_body {
        padding: 12px 0 12px 6px;
        .aside_recommend_account {
          display: flex;
          align-items: center;
          padding: 4px 0;
          .recommend_profile {
            width: 44px;
            height: 40px;
            display: flex;
            align-items: center;
            .recommend_photo {
              width: 32px;
              height: 32px;
              border-radius: 50%;
            }
          }
          .recommend_id {
            width: 200px;
            font-size: 0.74rem;
            a {
              font-weight: 600;
              margin-bottom: 4px;
            }
            p {
              color: #8e8e8e;
            }
          }
          .change_account_btn {
            padding-left: 4px;
          }
        }
      }
      .aside_recomment_footer {
        .aside_tags {
          margin-bottom: 20px;
          padding-right: 6px;
          color: #c7c7c7;
          li {
            font-size: 0.7rem;
            display: inline;
            a {
              color: #c7c7c7;
            }
          }
        }
        .copyright {
          font-size: 0.7rem;
          color: #c7c7c7;
        }
      }
    }
  }
}
