html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
}
#landingContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  background-color: rgba(var(--b3f, 250, 250, 250), 1);

  #landingArticle {
    max-width: 935px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 32px auto 0;
    padding-bottom: 32px;

    .imgBox {
      display: block;
      width: 336px;
      height: 618px;
      align-self: center;
      background-image: url('../assets/images/unsplash_instagram.png');
      background-size: contain;
      margin-right: 15px;
      margin-left: -35px;
    }

    .imgBox.hide {
      display: none;
    }

    #loginBox {
      max-width: 350px;
      color: rgba(var(--i1d, 38, 38, 38), 1);
      flex-grow: 1;
      margin-top: 70px;

      header {
        justify-content: center;
        align-items: center;
        font-size: 52px;
        font-family: 'Billabong', sans-serif;
        margin: 22px auto 30px;
      }

      #forgetPw {
        text-align: center;
        color: #385185;
        font-size: 12px;
        cursor: pointer;
        margin-top: 12px;
        margin-bottom: 6px;
      }

      #inputBox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: rgba(var(--d87, 255, 255, 255), 1);
        border: 1px solid lightgrey;

        .inputID {
          -webkit-box-pack: center;
          border: 0.5px solid lightgray;
          border-radius: 2px;
          background: rgba(var(--b3f, 250, 250, 250), 1);
          color: rgba(var(--i1d, 38, 38, 38), 1);
          font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
            Helvetica, Arial, sans-serif;
          font-size: 12px;
          margin: 0 40px 10px;
          padding: 9px 0 11px 8px;
        }

        .inputPW {
          -webkit-box-pack: center;
          border: 0.5px solid lightgray;
          border-radius: 2px;
          background: rgba(var(--b3f, 250, 250, 250), 1);
          color: rgba(var(--i1d, 38, 38, 38), 1);
          font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
            Helvetica, Arial, sans-serif;
          font-size: 12px;
          margin: 0 40px 10px;
          padding: 9px 0 11px 8px;
        }

        .loginBtn {
          border: none;
          border-radius: 3px;
          background-color: rgba(var(--d69, 0, 149, 246), 1);
          color: #fff;
          font-size: 14px;
          font-weight: 600;
          margin: 8px 40px;
          padding: 5px;

          &:disabled {
            background-color: rgba(var(--d69, 0, 149, 246), 0.3);
          }
        }

        #loginHrContainer {
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 10px 40px 18px;

          .loginHr {
            display: inline-block;
            width: 10px;
            height: 1px;
            background-color: rgba(var(--b38, 219, 219, 219), 1);
            flex-grow: 1;
          }

          span {
            font-weight: 600;
            font-size: 13px;
            margin: 0 18px;
            color: rgba(var(--f52, 142, 142, 142), 1);
          }
        }

        #inputBoxFooter {
          text-align: center;
          color: #385185;
          font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
            Helvetica, Arial, sans-serif;
          font-weight: 600;
          font-size: 14px;
          cursor: pointer;
          margin: 8px 40px;

          #facebookLogo {
            font-size: 18px;
          }
        }
      }

      #registerBox {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(var(--d87, 255, 255, 255), 1);
        border: 1px solid lightgrey;
        font-size: 14px;
        margin-top: 12px;
        padding: 20px;

        a {
          text-decoration: none;
          color: rgba(var(--d69, 0, 149, 246), 1);
          font-weight: 600;
          margin-left: 5px;
        }
      }
    }
  }
}
