@import '../../../styles';

.home-container {
  background-color: $background;

  button {
    padding: 0;
  }

  .avatar {
    display: block;
    overflow: hidden;
    border-radius: 50%;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &.avatar-26 {
      width: 22px;
      height: 22px;
    }

    &.avatar-32 {
      width: 32px;
      height: 32px;
    }

    &-56 {
      width: 56px;
      height: 56px;

      &.is-story {
        position: relative;
        z-index: $story-avatar-level;
      }
    }

    &-wrapper-66 {
      @include flexbox(center, center);
      position: relative;
      width: 66px;
      height: 66px;

      &.is-user-profile {
        justify-content: start;
      }
    }
  }

  .is-story {
    border: 1px solid $border;

    &-new::before {
      @include pos-center();
      content: '';
      z-index: $story-avatar-border-level;
      width: 60px;
      height: 60px;
      border: 2px solid transparent;
      border-radius: 50%;
      background-image: linear-gradient($white, $white),
        linear-gradient(to bottom, #d82b7d 0%, #f57939 100%);
      background-origin: border-box;
      background-clip: content-box, border-box;
    }
  }

  .container {
    @include column-flexbox(start, start);
    width: 100%;
  }

  /* Global Nav Bar */
  .global-nav-bar {
    @include flexbox(start, center);
    position: fixed;
    z-index: $gnb-level;
    top: 0;
    width: 100%;
    height: 54px;
    border-bottom: 1px solid $border;
    background-color: $white;
  }

  .global-nav-wrapper {
    @include flexbox(between, center);
    width: 935px;
    margin: 0 auto;
  }

  .search-input-wrapper {
    @include flexbox(start, center);
    width: 215px;
    height: 28px;
    padding: 12px;
    border: 1px solid $border;
    border-radius: 3px;
    background-color: $background;

    .ic-search {
      position: relative;
      top: 1px;
      margin-right: 6px;
      color: $gray;
      font-size: 10px;
    }

    input::placeholder {
      color: $gray;
    }
  }

  .user-action-group {
    @include flexbox(start, center);
  }

  .user-action-item {
    @include flexbox(start, center);
    position: relative;
    margin-right: 22px;
    cursor: pointer;

    &:last-child {
      margin-right: 0;
    }

    i {
      font-size: 22px;
    }

    &.is-new::after {
      content: '';
      @include pos-center-x(absolute);
      display: block;
      bottom: -10px;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: $red;
    }
  }

  .my-menu {
    position: relative;

    .avater:hover::after,
    .avatar.is-active::after {
      @include pos-center(absolute);
      content: '';
      width: 26px;
      height: 26px;
      border: 2px solid $gray;
      border-radius: 50%;
    }

    &-content {
      position: absolute;
      top: 37px;
      left: -175px;
      width: 225px;
      padding: 10px 0;
      border: 1px solid $border;
      border-radius: 5px;
      background-color: $white;
      font-size: 16px;

      &::before,
      &::after {
        content: '';
        display: block;
        position: absolute;
        top: -24px;
        left: 83%;
        width: 0;
        height: 0;
        transform: translateX(-50%);
        border-top: 12px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 12px solid transparent;
        border-left: 10px solid transparent;
      }

      &::before {
        border-bottom-color: #e0e2e7;
      }

      &::after {
        top: -22px;
        border-bottom-color: $white;
      }
    }

    &-item {
      @include flexbox(start, center);
      height: 35px;
      padding: 0 15px;

      i {
        position: relative;
        top: 2px;
        width: 14px;
        height: 14px;
        margin-right: 10px;
        font-size: 14px;

        .fa-bookmark {
          left: 1px;
        }
      }

      &:nth-last-child(2) {
        margin-bottom: 5px;
      }

      &:last-child {
        padding: 10px 15px 0 15px;
        border-top: 1px solid $border;
      }
    }
  }

  /* MAIN */
  main {
    width: 935px;
    margin: 0 auto;
    padding-top: 84px; /* nav height 54px + margin 30px 만큼 margin-top*/
  }

  /* MAIN-LEFT */
  .main-left {
    width: 614px;
    margin-right: 28px;
  }

  /* Story */
  .story-wrapper {
    width: 100%;
    margin-bottom: 24px;
    padding: 16px;
    overflow-x: scroll;
    border: 1px solid $border;
    border-radius: 3px;
    background-color: $white;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .story-list {
    @include flexbox(start, start);
  }

  .story-item {
    @include column-flexbox(center, center);
    margin-right: 15px;
    cursor: pointer;

    .user-id {
      display: block;
      max-width: 60px;
      height: 18px;
      overflow: hidden;
      font-size: 12px;
      letter-spacing: -0.02em;
      text-overflow: ellipsis;
    }
  }

  /* Feed */
  .feed {
    &-wrapper {
      @include column-flexbox(start, start);
      margin-bottom: 24px;
      border: 1px solid $border;
      border-radius: 3px;
      background-color: $white;
    }

    &-header {
      @include flexbox(between, center);
      width: 100%;
      height: 60px;
      padding: 14px 16px;

      &-left {
        @include flexbox(start, center);
      }

      .feed.user-info {
        margin-left: 14px;
      }

      .more-btn {
        display: block;
        width: 20px;

        img {
          display: block;
          width: 100%;
        }
      }
    }

    &-image-wrapper {
      position: relative;
      overflow: hidden;

      img {
        display: block;
        width: 100%;
        object-fit: cover;
      }

      i {
        @include pos-center(absolute);
        opacity: 0;
        color: $red;
        font-size: 50px;
      }
    }

    &-bottom {
      width: 100%;
      padding: 0 16px;
      padding-bottom: 8px;
      border-bottom: 1px solid $border;
    }

    &-controler {
      @include flexbox(between, start);
      height: 54px;
      padding: 8px 0;
      font-size: 24px;

      i,
      .fas.is-liked {
        transition: opacity 300ms ease-in-out, color 0.3s ease-in-out;
        cursor: pointer;
      }

      i:hover {
        opacity: 0.5;
      }

      .right {
        text-align: right;
      }
    }

    &-bottom-info {
      @include column-flexbox(start, start);
      font-size: 14px;
    }

    &-like {
      margin-bottom: 6px;
      font-size: 14px;
      font-weight: 700;

      dl {
        @include flexbox(start, center);

        dt {
          margin-right: 4px;
        }
      }
    }
  }

  .icon-group {
    @include flexbox(start, center);

    &.left {
      i {
        position: relative;
        opacity: 1;
      }

      .fas {
        color: transparent;
      }
    }
  }

  .fas.is-liked.fa-heart {
    color: $red;
  }

  .icon-item {
    width: 38px;
    height: 38px;
  }

  .feed-desc {
    @include flexbox(start, center);
    margin-bottom: 2px;

    .user-id {
      margin-right: 4px;
      font-weight: 700;
    }
  }

  .feed-desc-group {
    .comment-more {
      margin-bottom: 8px;
      color: $gray;
    }

    .feed-uploaded {
      margin-bottom: 8px;
      color: $gray;
      font-size: 10px;
      line-height: 1.8;
    }
  }

  .feed-comment-item {
    @include flexbox(between, start);
    line-height: 1;

    button {
      padding: 0;

      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }

  /* Comment Wrapper */
  .comment-wrapper {
    @include flexbox(between, center);
    width: 100%;
    height: 53px;
    padding: 6px 16px;

    i {
      position: relative;
      top: 1px;
      margin-right: 4px;
      font-size: 18px;
    }

    button {
      padding: 0;
    }

    input {
      width: 500px;
    }
  }

  /* MAIN-RIGHT */
  .main-right {
    @include column-flexbox(start, start);
    position: fixed;
    top: 83px;
    left: 0;
    width: 293px;
  }

  /* User-Profile */
  .user-profile {
    @include flexbox(between, center);
    width: 290px;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .user-info {
    @include column-flexbox(start, start);
    font-size: 14px;
    letter-spacing: -0.02em;
    line-height: 1.2857;

    span {
      display: block;
      width: 180px;
      margin-top: 3px;
      color: $gray;
    }
  }

  .button-primary {
    padding: 0;
    transition: opacity 0.3s ease-in-out;
    opacity: 1;
    color: $blue;
    font-size: 12px;
    font-weight: 700;

    &:disabled {
      opacity: 0.3;
      cursor: not-allowed;
    }
  }

  /* Recommend Section */
  .recommendation {
    width: 100%;

    &-title {
      @include flexbox(between, center);
      margin-bottom: 5px;
      font-weight: 700;

      h3 {
        color: $gray;
        font-size: 14px;
        font-weight: 700;
      }

      a {
        font-size: 12px;
        letter-spacing: -0.05em;
      }
    }

    &-list {
      @include column-flexbox(center, between);
      margin-bottom: 12px;
      padding: 10px 0;
    }

    &-item {
      @include flexbox(between, center);
      margin-bottom: 16px;

      .avatar {
        margin-left: 5px;
      }

      .user-info span {
        display: block;
        width: 170px;
        height: 18px;
        overflow-x: hidden;
        font-size: 11px;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }

  /* Global Footer */
  .global-footer {
    width: 100%;
    color: #b5b5b5;
    font-size: 11px;

    &-list {
      display: flex;
      margin-bottom: 16px;
    }

    &-item:not(:last-child) a::after {
      content: '·';
      margin: 0 2.75px;
    }
  }

  .like-animation {
    animation: heart-move 3s;
  }

  @media screen and (max-width: 1024px) {
    main,
    .global-nav-wrapper {
      width: 614px;
      margin: 0 auto;
    }

    .main-right {
      display: none;
    }
  }

  @keyframes heart-move {
    0% {
      top: 60%;
      opacity: 1;
    }

    30% {
      top: 45%;
      opacity: 1;
    }

    60% {
      opacity: 0;
    }
  }
}
